*{transition: all 0.2s ease-in-out; box-sizing: border-box;}

@font-face {
			font-family: ProximaNovaRegular;
			src: url(fonts/ProximaNovaRegular/ProximaNovaRegular.eot);
			src: url(fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix)format("embedded-opentype"),
			url(fonts/ProximaNovaRegular/ProximaNovaRegular.woff) format("woff"),
			url(fonts/ProximaNovaRegular/ProximaNovaRegular.ttf) format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: ProximaNovaBold;
			src: url(fonts/ProximaNovaBold/ProximaNovaBold.eot);
			src: url(fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix)format("embedded-opentype"),
			url(fonts/ProximaNovaBold/ProximaNovaBold.woff) format("woff"),
			url(fonts/ProximaNovaBold/ProximaNovaBold.ttf) format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face{
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNovaLight/ProximaNovaLight.eot);
			src: url(fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix)format("embedded-opentype"),
			url(fonts/ProximaNovaLight/ProximaNovaLight.woff) format("woff"),
			url(fonts/ProximaNovaLight/ProximaNovaLight.ttf) format("truetype");
			font-style: normal;
			font-weight: normal;
}

[class*="fa"]{font-size: 1.7em;}

.fa-angle-right:before{ content: "\f105"}	

.fa-link:before{content: "\f0c1";} 

body, html{margin: 0; padding: 0;}

body{ font-size: .8em;}

.page_wrapper {
    height: 100%;
	width: 64vw;
    margin: 0 auto;
    position: relative;
}
p{margin: 10px;}

[class*="block"]{
    position: relative;
    height: 100vh;
    font-family: proximanovalight, sans-serif;
    padding: 10vh 0 10vh;
    overflow: hidden;
}

a{text-decoration: none; color: white;}
a:hover{color: #84C225;}

h1{
    text-transform: uppercase;
    font-family: proximanovabold;
    margin: 0;
    font-size: 2.7em;
    line-height: 1.3em;
}
h2{text-transform: uppercase; font-size: 1.1em;}

.right{margin-left: 8vw;}
.float_right{float: right;}
.float_left{float: left;}

.green {color: #84C225;}
.white{color: white;}
.black{color: rgb(33, 21, 59);}
.big {text-transform: uppercase; font-size: 2.7em; line-height: .75em;}
.bold {font-family: proximanovabold;}

.violet_overlay {
	width: 40vw;
    height: 100vh;
    background-color: rgba(33, 21, 59, .5);
    position: absolute;
    z-index: 0;
    bottom: 0;
}

#header_overlay {height: 85vh;}

.logo_head {
	width: 15vw;
    height: 15vw;
    position: absolute;
    top: 10px;
    background: url(images/logo_lines.png) no-repeat;
    background-size: contain;
}

.border_text {
	position: absolute;
    text-transform: uppercase;
    font-family: proximanovabold;
    right: 50px;
    top: 50vh;
    transform: rotate(270deg);
}

.left{right: auto; left: 50px;}

/* Block1 */

#white_overlay{display: none;}

.block1 {
	background: url(images/fon2.jpg) no-repeat;
    background-size: cover;
    padding: 0;
}

#logo_main{
    margin-top: 25px;
    width: 250px;
}

.block1 nav {
    text-transform: uppercase;
    word-spacing: 20px;
    margin-top: 30px;
    font-size: .9em;
    display: inline-block;
    float: right;
}

nav ul{list-style: none;}

nav ul li{display: inline;}

[class*="text_header"]{
    position: absolute;
    line-height: 10px;
    width: 250px;
    color: white;
    text-transform: uppercase;
    bottom: 40vh;
}

.text_header_2 {display: none;}

.span_first {margin-left: 50px;}

.span_second {text-align: right;}

.nav_slider {
	position: absolute;
    bottom: 3vh;
    left: 50px;
    text-align: center;
}

.button_header {
    min-width: 150px;
	width: 100%;
    height: 50px;
    border: 1px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-size: 0.9em;
}

[id*="arrow"], .round{display: inline-block; margin-top: 10px;}

#arrow_right {background: url(images/strelka_right.png) no-repeat;}

#arrow_left {background: url(images/strelka_left.png) no-repeat;}

#arrow_right, #arrow_left {
	width: 30%;
    height: 20px;
    margin-bottom: 5px;
    background-size: 30px auto;
    background-position: center;
    margin: 0;
}

#arrow_right:hover {background-position: right;}

#arrow_left:hover {background-position: left;}

.round {
	width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.round:hover {background: rgba(237, 237, 237, 0.5);}


/*Block 2*/

.img_block2 {
    position: absolute;
    z-index: -1;
    padding: 0;
    right: 0;
    top: 0;
    width: 50vh;
    height: 70vh;
	background: url(images/robot.jpg) no-repeat;
    background-size: contain;
}

.block2 p{
    width: 48vw;
    margin-top: 25vh;
}

/*Block 3*/

.block3 {
	background: url(images/castle.jpg) no-repeat;
    background-size: cover;
}

.service_overlay {
    text-align: center;
	width: 52vw;
    height: 70vh;
    position: absolute;
    bottom: 0;
    left: 32vw;
    background: rgba(255, 255, 255, 0.8);
}

.services {
	width: 80%;
    margin: 0 auto;
}

.service {
    text-align: left;
    margin: 30px;
	display: inline-block;
    width: 35%;
    height: 20vh;
}

.service_overlay h2{line-height: 60px;}

#programm {
	background: url(images/icons/icon_prog.png) no-repeat;
    background-position: left;
    background-size: 45px auto;
    padding-left: 50px;
}
#programm:hover {background-position: 0 7px;}

#shop {
	background: url(images/icons/icon_shop.png) no-repeat;
    background-position: left;
    background-size: 40px auto;
    padding-left: 45px;
}
#shop:hover {background-position: 0 7px;}

#web {
	background: url(images/icons/icon_web.png) no-repeat;
    background-position: left;
    background-size: 35px auto;
    padding-left: 40px;
}
#web:hover {background-position: 0 7px;}

#repair {
	background: url(images/icons/icon_work.png) no-repeat;
    background-position: left;
    background-size: 35px auto;
    padding-left: 45px;
}
#repair:hover {background-position: 0 7px;}

/*Block 4*/

.block4 h2, .block4 a{margin-left: 10px;}

.block4 p{margin-bottom: 15px;}

.work_info {
    width: 32vw;
    height: 40vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

.works_wrap {
    height: 100%;
    width: 25vw;
    position: absolute;
    right: 0;
    top: 0;
}

.works_wrap a {margin: 0;}

.work {
	width: 100%;
    height: 20%;
    margin: 0;
}

#slot1 {background: url(images/works/vinosite.png) no-repeat center;
    background-size: contain;}
#slot2 {background: url(images/works/1c.png) no-repeat center;
    background-size: contain;}
#slot3 {background: url(images/works/rogovandrey.png) no-repeat center;
    background-size: contain;}
#slot4 {background: url(images/works/rhaus.png) no-repeat center;
    background-size: contain;}
#slot5 {background: url(images/works/asterisk.png) no-repeat center;
    background-size: contain;}

[id*="slot"]:hover{box-shadow: inset 0 0 35px white;}
#slot2:hover, #slot4:hover {box-shadow: inset 0 0 50px rgba(27, 3, 44, 0.4);}

/*Block 5*/

.block5 {
	background: url(images/fon_why.jpg) no-repeat;
    background-size: cover;
}

.block5 h2{margin-left: 10px; line-height: 60px;}

#time, #heart {
    height: auto;
    background: rgba(255, 255, 255, 0.8);
}

#money h2{
    background: url(images/icons/icon_money.png) no-repeat;
    background-position: left;
    background-size: 35px auto;
    padding-left: 45px;
}
#money h2:hover {background-position: 0 7px;}

#time h2{
    background: url(images/icons/icon_time.png) no-repeat;
    background-position: left;
    background-size: 30px auto;
    padding-left: 40px;
}
#time h2:hover {background-position: 0 7px;}

#heart h2{
    background: url(images/icons/icon_heart.png) no-repeat;
    background-position: left;
    background-size: 30px auto;
    padding-left: 40px;
}
#heart h2:hover {background-position: 0 9px;}

#time {
    width: 40vw;
	position: absolute;
    padding-right: 20vw;
    bottom: 10vh;
    right: 0;
    z-index: 2;
}

#heart {
	position: absolute;
    padding-left: 18.5vw;
    top: 10px;
    left: 22.5vw;
    width: 40vw;
}

#money {
    width: 20vw;
    margin-top: 15vh;
}

.company_wrapper {
	position: absolute;
    padding-top: 25px;
    left: 2vw;
    height: 100%;
    width: 8vw;
}

.company {
	width: 100%;
    height: 13%;
    background: url(images/company/netlab.png) no-repeat;
    background-size: contain;
    background-position: center;
}

#company1{background: url(images/company/sila.png) no-repeat;
    background-size: contain;
    background-position: center;}
#company2 {
	background: url(images/company/tkms.png) no-repeat;
    background-size: contain;
    background-position: center;}
#company3 {background: url(images/company/fodesko.png) no-repeat;
    background-size: contain;
    background-position: center;}
#company4 {background: url(images/company/rverkommash.png) no-repeat;
    background-size: contain;
    background-position: center;}
#company5 {background: url(images/company/netlab.png) no-repeat;
    background-size: contain;
    background-position: center;}
#company6 {background: url(images/company/tigi-knauf-logo.png) no-repeat;
    background-size: contain;
    background-position: center;}
#company7 {background: url(images/company/ryterna.png) no-repeat;
    background-size: contain;
    background-position: center;}

/*Block 6*/

.block6 {
	background: url(images/fon_contact.jpg) no-repeat;
    background-size: cover;
}

.nav_contacts {
	color: white;
    width: 25vw;
}

.block6 nav{
    margin-top: 150px;
    margin-left: 0;
    text-align: justify;
}

.block6 nav ul {
    line-height: 3em;
    padding: 0;
	border-bottom: 1px solid white;
    word-spacing: 50px;
}

.block6 nav ul li{text-transform: uppercase;}

.nav_contacts p{
	margin: 0;
    padding: 0;
    line-height: 2em;
}

.block6 form{
    width: 25vw;
	position: absolute;
    right: 19vw;
    top: 15vh;
}

.block6 input{
	display: block;
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    line-height: 50px;
}

.block6 input::-webkit-input-placeholder {color: white;}
.block6 input::-moz-input-placeholder {color: white;}
.block6 input:-ms-input-placeholder {color: white;}

.block6 textarea{
	width: 100%;
    height: 200px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.block6 textarea::-webkit-input-placeholder {color: white; font-size: 1.1em; }
.block6 textarea::-moz-input-placeholder {color: white; font-size: 1.1em;}
.block6 textarea:-ms-input-placeholder {color: white; font-size: 1.1em;}

.block6 button{
	background-color: transparent;
    background: url(images/strelka_right.png) no-repeat;
    background-size: auto;
    background-position: 70% 20px;
    border: 1px solid white;
    text-align: left;
    padding-left: 30%;
    height: 50px;
    line-height: 50px;
    color: white;
    width: 100%;
    float: right;
    margin-top: 50px;
}

.block6 button:hover {
    cursor: pointer;    
	border: 1px solid #84C225;
    background-position: 75% 20px;
}

.copyright {
    font-family: proximanovaregular; 
	color: white;
    position: absolute;
    bottom: 3vh;
    left: 3vh;
}

/******MediaQueries******/

/*Medium desktips*/
@media screen and (max-width: 1199px) and (orientation: landscape){
    .violet_overlay {width: 46vw;}

/*******Block1*******/
    .block1 nav{
        word-spacing: 15px;
    }
    
    .block1 nav ul{
        padding-left: 0;
    }
    
/*******Block3*******/
    .service_overlay {
	    left: 35vw;
        width: 50vw;
        height: 90vh;
}
    .services {width: 95%;}
    
    .service {
	    width: 40%;
        margin: 10px;
        margin-bottom: 10vw;
    }
    
    .service h2 {font-size: 0.9em;}
    
/*******Block4*******/
    .work_info{
        bottom: 5vh;
    }
    
/*******Block5*******/
    .block5 h2 {margin-bottom: -20px;} 
    
    #time, #heart {
        width: 55vw; 
}

    #time {
	padding-right: 10vw;
}
    
    #money {
    margin-left: -3vw;
	width: 30vw;
}
    
/*******Block6*******/
    .nav_contacts {
	margin-top: -5vw;
}
    
    .block6 button{
        background-position: 75% 20px;
        padding-left: 20%;
    }
    
    .block6 button:hover{
        background-position: 80% 20px;
    }
}

/*Tablet Landscape and small desktops*/
/*@media screen and (min-width: 900px) and (max-width: 1199px){
    
}*/

@media screen and (max-width: 1199px) and (orientation: portrait), (max-width: 899px) and (orientation: landscape) {
    /*******Block3*******/
    
    .service {
	    margin: 0;
        width: 25vw;
        margin-bottom: 15vh;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        position: absolute;
}
    
    .service p{
	display: none;
}
    
    #programm, #shop, #web, #repair {
	background: none;
        padding: 0;
        line-height: 10vh;
}
    
    .services {
	width: 95%;
}
    
    .float_right, .float_left {float: none; margin: 0;}
    
    .service_overlay {
        background: none;
        width: 100vw;
        height: 100vh;
        left: 0;
        text-align: right;
}
    
    #service_programm {
	    top: 0;
        left: 30vw;
        height: 45vh;
        padding-top: 30vh;
        background: rgba(255, 255, 255, 0.8) url(images/icons/icon_prog.png) no-repeat;
        background-position: center;
        background-size: 15vh auto;
}
    
    #service_shop {
	    top: 0;
        right: 0;
        height: 45vh;
        width: 35vw;
        padding: 30vh 10vw 0 0;
        background: rgba(255, 255, 255, 0.8) url(images/icons/icon_shop.png) no-repeat;
        background-position: 8vw center;
        background-size: 12vh auto;
}
    
    #service_web {
	    bottom: 0;
        left: 0;
        height: 35vh;
        width: 55vw;
        padding: 0 0 30vh 28vw;
        background: rgba(255, 255, 255, 0.8) url(images/icons/icon_web.png) no-repeat;
        background-position: 38vw center;
        background-size: 11vh auto;
}
    
    #service_repair {
	    bottom: 0;
        right: 10vw;
        height: 45vh;
        padding-bottom: 30vh;
        background: rgba(255, 255, 255, 0.8) url(images/icons/icon_work.png) no-repeat;
        background-position: center;
        background-size: 11vh auto;
}
    
/*******Block5*******/
    
    .block5 {
	padding-top: 0;
    padding-bottom: 0;
}
    
    .block5 h2 {
    margin-bottom: -20px;
    margin-top: -5px;
    }
    
    .block5 p{display: none;}
    .company_wrapper {display: none;}
    
    #heart, #time, #money {
    display: inline-block;
    text-align: center;
    width: 25vw;
    padding: 0;
    margin: 0;
}
    
    #heart h2, #time h2, #money h2 {
	    padding-left: 0;
        margin: 0;
    }
    
    #money h2 {
        padding-top: 0;
        margin-top: 7vh;
        background: none;
	    color: rgb(33, 21, 59);
    }
    
    #money h2:hover{color: #84C225;}
    
    #money {
        position: absolute;
        bottom: 0;
        left: 12vw;
        height: 50vh;
	    background: rgba(255, 255, 255, 0.8) url(images/icons/icon_money_black.png) no-repeat;
        background-position: top;
        background-size: 13vh auto;
}
    
    #heart {
        height: 70vh;
	    top: 0;
        left: 39vw;
        background: rgba(255, 255, 255, 0.8) url(images/icons/icon_heart.png) no-repeat;
        background-position: center 53vh;
        background-size: 8vh auto;
}
    
    #heart h2{
        margin-top: 57vh;
        background: none;
    }
    
    #time {
	    top: 0;
        right: 5vw;
        height: 70vh;
        background: rgba(255, 255, 255, 0.8) url(images/icons/icon_time.png) no-repeat;
        background-position: center 53vh;
        background-size: 9vh auto;
}
    
    #time h2{
        margin-top: 57vh;
        background: none;
    }
}


/*Large Tablets 1200-900 with portrait orientation*/
@media screen and (max-width: 1199px) and (orientation: portrait), (max-width: 599px){
    /*Turn down full-page-scroll/*/
    body, html{width: auto; height: auto;}
    
    body{font-size: 1.3em;}
    
    h2{
        font-size: 0.8em;
    }
    
    .violet_overlay{
        width: 100vw;
    }
    
    .page_wrapper{
        width: 70vw;
    }
    
    .border_text{display: none;}
    
/*******Block1*******/
    .block1{
        background-position: center;
    }
    
    #white_overlay{
        display: block;
        position: absolute;
        height: 20vh;
        width: 100vw;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
    }
    
    #header_overlay {height: 80vh;}
    
    #logo_main {
    width: 60%;
    margin: 7vh auto auto 10%;
}
    
    .block1 nav{
        margin-top: 8.5vh;
        background: pink;
        margin-right: 25px;
        width: 25px;
        overflow: hidden;
        height: 25px;
    }
    
    [class*="text_header"]{    
    min-width: 250px;
    width: 65%;
    left: 17%;
}
    
    .button_header {
        height: 90px;
        line-height: 90px;
}
    .nav_slider{
        width: 50%;
        left: 25%;
    }
    
/*******Block2*******/
    .img_block2{
        width: 30%;
    }
    
    .block2 p {
        margin-top: 20vw;
        width: 100%;
    }
    
/*******Block3*******/
    
    #programm, #shop, #repair, #web{
        line-height: 15vh;
        margin: 0;
    }
    
    #service_programm, #service_shop, #service_web, #service_repair{
        text-align: center;
        height: 15vh;
        width: 57vw;
    }
    
    #service_repair, #service_web{
        padding: 0 3vw 0 0;
        background-position: 47vw 5vh;
        right: auto;
        left: 0;
        
    }
    
    #service_programm, #service_shop{
        padding: 0 0 0 3vw;
        background-position: 3vw 5vh;
        right: 0;
        left: auto;
        
    }
    
    #service_programm{
        top: 10vh;
        background-size: 7vw auto;
    }
    
    #service_shop{
        top: 30vh;
        background-size: 7vw auto;
    }
    
    #service_repair{
        top: 50vh;
        background-size: 6vw auto;
    }
    
    #service_web{
        top: 70vh;
        background-size: 6vw auto;
    }
    
/*******Block4*******/
    .work_info{
        width: 100vw;
        height: 40vh;
        left: -15vw;
        right: auto;
        top: 20vh;
        z-index: 2;
        background: rgba(255, 255, 255, 0.8);
        padding: 0 15% 0 15%;
        display: none;
    }
    
    .works_wrap{
        height: 60vh;
        width: 100%;
        top: 20vh;
        left: 0;
    }
    
    /*******Block5*******/
    
    #time, #money, #heart{
        width: 28vw;
    }
    
    #time, #money{
        height: 60vh;
    }
    
    #heart{
        height: 50vh;
        left: auto;
        right: -10vw;
        background-size: 6vh auto;
        background-position: 11vw 41.5vh;
    }
    
    #heart h2{
        margin-top: 36vh;
    }
    
    #money{
        left: -10vw;
        background-size: 9vh auto;
    }
    
    #time{
        top: auto;
        bottom: 0;
        left: 35vw;
        background-position: 10vw 1.5vh;
        background-size: 7vh;
    }
    
    #time h2, #money h2{
        padding-top: 0;
        margin-top: 8vh;
    }
    
/*******Block6*******/
    .block6 form{
        width: 10vw;
        height: 10vw;
        overflow: hidden;
        top: 10vh;
        right: 10vw;
        background: /*rgba(255, 255, 255, 0.8)*/ rgba(33, 21, 59, .95);
    }
    
.block6 button{
        width: 50%;
        padding-left: 15%;
    }
    
    .nav_contacts{
        position: absolute;
        top: 5vh;
        width: 100%;
    }
    
    .copyright{
        font-size: 0.6em;
    }
    
}

/*Medium tablets 900-600 with orientaton portrait*/
@media screen and (max-width: 899px) and (orientation: portrait){
    h1{font-size: 2em;}
    h2{font-size: 0.65em;}
/*******Block1*******/
    #logo_main {
	width: 70%;
    margin: 7vh auto auto 0;
}
    
    [class*='text_header']{
        width: 100%;
        left: 0;
    }
    
    .nav_slider {
	width: 70%;
        left: 15%;
}
    
/*******Block5*******/
    .block5 h2 {
	line-height: 20px;
}
    
    #time {
	background-position: 9.5vw 1.5vh;
}
    
    #heart {
	background-position: 10.5vw 41.5vh;
}
    
/*******Block6*******/
    .block6 nav ul{
        word-spacing: 25px;
    }
}
    

/*Landscape Phones with height 600-900px and landscape tablets*/
@media screen and (max-width: 899px) and (orientation: landscape)
{
    body{font-size: 0.7em;}
    
    [class*="block"]{
        padding: 5vh 0 5vh 0;
    }
    
    .block1 {
	padding: 0;
}
    
    h2{font-size: 0.9em;}
    
    .page_wrapper {
	width: 90vw;
}
    
    .violet_overlay {
	width: 40vw;
}
    
    .border_text {
	right: 5px;
}
    
    .left {
        right: auto;
	left: 5px;
}
    
/*******Block1*******/
    #logo_main {
	width: 200px;
        margin-top: 15px;
}
    .block1 nav {
	margin-top: 20px;
}
    
    .text_header_1, .text_header_2 {
	width: 220px;
}
    [class*="text_header"]{
        line-height: 5px;
    }
    
    .button_header {
	width: 150px;
}
    
/*******Block2*******/
    .block2 p {
	margin-top: 20vh;
        width: 55vw;
}
    
    .img_block2 {
	height: 80vh;
        width: 55vh;
}
    

    
/*******Block4*******/
    .works_wrap {
	right: 10vw;
}
    
    .work_info {
	width: 50vw;
        bottom: 15vh;
}
    


/*******Block6*******/
    
   .nav_contacts {
	margin-top: -30vh;
        width: 40vw;
}
    
    .block6 nav ul{
    word-spacing: 25px;
}
    
.block6 form {
	width: 30vw;
    top: 12vh;
    right: 15vw;
}
    
    .block6 textarea {
	height: 100px;
}
    
}

@media screen and (max-width: 800px){
    .block6 button {
    background-position: 75% 20px;
        padding-left: 15%;
}
    .block6 button:hover{
        background-position: 80% 20px;
    }
    
}


@media screen and (max-width: 700px){
    .block6 button {
    background-position: 85% 20px;
        padding-left: 10%;
}
    .block6 button:hover{
        background-position: 90% 20px;
    }
    
}


/*Medium Phones 600-480*/
@media screen and (max-width: 599px)
{
    /*turn off full-page scroll
    */
     body, html{width: auto; height: auto;}
    
    body{ font-size: 1em;}
    
    .violet_overlay{
        width: 100vw;
    }
    
    .page_wrapper{
        width: 80vw;
    }
    
    /*******Block2*******/
    .block2 p{
        margin-top: 10vh;
    }
    
}


/*Small Phones 480-320*/
@media screen and (max-width: 480px){
    /*turn off full-page scroll
    */
    #time{
        background-position: 8.5vw 1.5vh;
    }
    
    #heart {
	background-position: 9.5vw 41.5vh;
}
}

@media screen and (max-width: 400px){
    body{
        font-size: 0.8em;
    }
    
    .button_header {
	font-size: 0.7em;
}
    
    .block5 #heart h2{
        margin-top: 34vh;
    }
}
